# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
*.db

# Node
node_modules/
dist/

# Arduino
*.hex
build/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker volumes
data/

# Secrets
.env.local
credentials.json
firmware/arduino/secrets.h

# InfluxDB local data
influxdb-data/
