DEMO_MODE=false
MQTT_BROKER=localhost
MQTT_PORT=1883
DEVICE_ID=greenhouse-01

INFLUXDB_URL=http://localhost:8086
INFLUXDB_TOKEN=sera-influx-token-change-me
INFLUXDB_ORG=sera
INFLUXDB_BUCKET=greenhouse

SQLITE_PATH=sera.db
